In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [2]:
news = pd.read_csv("News_Category_Dataset_v2_prep_full.csv")

In [3]:
news.head()

,category,headline_pr,short_description_pr,union_pr
0,CRIME,2 mass shooting texas last week 1 tv,left husband killed child another day america,2 mass shooting texas last week 1 tvleft husba...
1,ENTERTAINMENT,smith join diplo nicky jam 2018 world cup offi...,course song,smith join diplo nicky jam 2018 world cup offi...
2,ENTERTAINMENT,hugh grant marries first time age 57,actor longtime girlfriend anna eberstein tied ...,hugh grant marries first time age 57actor long...
3,ENTERTAINMENT,jim carrey blast castrato adam schiff democrat...,actor give dems as kicking fighting hard enoug...,jim carrey blast castrato adam schiff democrat...
4,ENTERTAINMENT,julianna margulies us donald trump poop bag pi...,dietland actress said using bag really cathart...,julianna margulies us donald trump poop bag pi...

In [4]:
news["category"].value_counts()

POLITICS          29404
WELLNESS          17801
ENTERTAINMENT     13383
STYLE & BEAUTY     9634
TRAVEL             9397
PARENTING          8666
FOOD & DRINK       6213
QUEER VOICES       5515
HEALTHY LIVING     5255
BUSINESS           5073
COMEDY             4389
SPORTS             4205
HOME & LIVING      4188
BLACK VOICES       4111
THE WORLDPOST      3662
WEDDINGS           3651
PARENTS            3544
DIVORCE            3423
WOMEN              3075
IMPACT             3059
CRIME              2674
MEDIA              2268
WEIRD NEWS         2198
WORLD NEWS         2172
TECH               2075
GREEN              2045
TASTE              1930
RELIGION           1849
SCIENCE            1773
MONEY              1706
STYLE              1530
ARTS & CULTURE     1334
ENVIRONMENT        1321
WORLDPOST          1242
FIFTY              1042
GOOD NEWS          1029
CULTURE & ARTS     1019
LATINO VOICES      1018
COLLEGE             918
EDUCATION           892
ARTS                862
Name: category, dtype: int64

![](img/1.jpeg)

1. POLITICS
2. WEDDINGS
3. QUEER VOICES

In [5]:
n = 3000
TRAVEL = news[news["category"] == "TRAVEL"].iloc[:n].reset_index()
SPORTS = news[news["category"] == "SPORTS"].iloc[:n].reset_index()
ENTERTAINMENT = news[news["category"] == "ENTERTAINMENT"].iloc[:n].reset_index()
WELLNESS = news[news["category"] == "WELLNESS"].iloc[:n].reset_index()
FOOD_DRINK = news[news["category"] == "FOOD & DRINK"].iloc[:n].reset_index()

news = TRAVEL.append(SPORTS, ignore_index=True).append(ENTERTAINMENT, ignore_index=True)
news = news.append(WELLNESS, ignore_index=True).append(FOOD_DRINK, ignore_index=True)

In [6]:
news

,index,category,headline_pr,short_description_pr,union_pr
0,126,TRAVEL,14 way make family road trip easier parent,waterproof cover seat kind brilliant,14 way make family road trip easier parentwate...
1,204,TRAVEL,14 trip take new york city long weekend,charming town relaxing beach top hiking destin...,14 trip take new york city long weekendcharmin...
2,205,TRAVEL,disney reveals opening season star war theme p...,star war galaxy edge open disneyland disney world,disney reveals opening season star war theme p...
3,256,TRAVEL,lonely planet top european destination 2018 ta...,underrated travel destination europe full tourist,lonely planet top european destination 2018 ta...
4,324,TRAVEL,8 majestic island europe tourist know yet,dreaming romantic european getaway involve gaz...,8 majestic island europe tourist know yetdream...
...,...,...,...,...,...
14995,135591,FOOD & DRINK,cupcake made entirely frosting,dessert get right point,cupcake made entirely frostingdessert get righ...
14996,135593,FOOD & DRINK,memorial day strike band,winning medley american favorite,memorial day strike bandwinning medley america...
14997,135608,FOOD & DRINK,roadfood com regional food gps live without,roadfood com led u greatest road trip meal life,roadfood com regional food gps live withoutroa...
14998,135629,FOOD & DRINK,slow make custard ice cream,extra rich good way,slow make custard ice creamextra rich good way
14999,135634,FOOD & DRINK,recipe day baked potato,mushroom ragu make spud taste grown,recipe day baked potatomushroom ragu make spud...

## Признаки

In [7]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

import warnings
warnings.filterwarnings("ignore")

In [8]:
vectorizer = CountVectorizer(max_df=0.8, 
                             min_df=10
                            )
# vectorizer = TfidfVectorizer(max_df=0.8, 
#                              min_df=2
#                             )

X = vectorizer.fit_transform(news["union_pr"])
X = X.toarray()

In [9]:
X.shape

(15000, 3769)

In [10]:
X.shape

(15000, 3769)

### Word2vec

In [11]:
import gensim.downloader
from gensim.models import Word2Vec

In [4]:
google_news = gensim.downloader.load('word2vec-google-news-300')

[==================================================] 100.0% 1662.8/1662.8MB downloaded

In [14]:
# Загрузка предобученной на нашем датасете модели
news_category = Word2Vec.load("word2vec_News_Category_Dataset.model")

In [15]:
news_category.wv.most_similar('politic')

[('emin', 0.8702220320701599),
 ('chin', 0.862712562084198),
 ('shatters', 0.85172438621521),
 ('vein', 0.8513839244842529),
 ('squid', 0.8492340445518494),
 ('navratilova', 0.8449699878692627),
 ('transplanted', 0.8412217497825623),
 ('photoviola', 0.8381338715553284),
 ('te', 0.8368356823921204),
 ('overloaded', 0.8364784121513367)]

In [18]:
news_category.wv["mass"]

array([ 0.26371175,  0.9853023 , -1.1115199 , -0.8737721 , -1.0307835 ,
       -1.0086764 , -0.54929364,  0.2606924 ,  1.0172111 , -1.3917083 ,
       -0.40110084, -0.40293378, -0.2265935 ,  0.23303452,  0.52683437,
       -0.57781285,  0.34048334, -0.11968663, -0.25234753, -0.1378148 ,
       -0.12845394, -0.11777658,  0.8388428 ,  0.8629214 , -0.7455079 ,
        0.25525904,  0.11543323, -0.42045483, -0.9957327 ,  0.9825203 ,
        1.2932185 ,  1.1828113 , -1.8386053 , -0.4537164 ,  0.6439324 ,
       -0.6422189 , -0.83605444,  0.5199145 , -0.0248966 ,  0.18902436,
       -0.08193564, -0.801084  ,  0.09536127,  0.39293182, -0.9586824 ,
        0.82634264, -0.3887303 , -0.405828  ,  0.21065184, -0.25953683,
       -0.11996812, -0.589777  , -0.70902777,  0.7164571 , -0.6724394 ,
       -0.17354062,  0.05743977,  0.12569031, -0.19962083, -0.64998496,
        0.2384407 , -0.32564008, -0.8341531 ,  0.690191  , -0.16633235,
        0.4021672 , -0.4021976 , -0.08071235, -0.04349608,  0.7858969 ,
        0.59975934, -1.5517346 ,  0.15225619,  0.07480654,  0.3357694 ,
        0.60065776, -0.12806736, -0.6478238 , -0.59667456, -0.5464272 ,
       -0.8321117 , -0.9954935 , -0.63210636,  0.16290791,  0.6749365 ,
       -1.1676637 , -0.35202637,  1.8917136 ,  0.2303227 ,  0.82759506,
       -0.17814931,  0.2544814 ,  0.69759107, -0.5538199 , -0.26404256,
       -0.918914  , -0.37091783, -1.7586082 , -0.07833264, -0.11658768],
      dtype=float32)

In [16]:
vocab = news_category.wv.index_to_key # получить словарь

In [17]:
def doc2vec(text):
    return np.mean([news_category.wv[x] for x in text.split() if x in vocab], axis=0).reshape(1, -1)

In [71]:
news["vectorized"] = news["union_pr"].apply(lambda row: doc2vec(row))

In [88]:
news.head()

,index,category,headline_pr,short_description_pr,union_pr,vectorized
0,13,POLITICS,trump crackdown immigrant parent put kid alrea...,last month health human service official revea...,trump crackdown immigrant parent put kid alrea...,"[[0.24934112, -0.07372986, -0.4697646, -0.6915..."
1,14,POLITICS,trump son concerned fbi obtained wiretap putin...,wiretap feature conversation alexander torshin...,trump son concerned fbi obtained wiretap putin...,"[[-0.08956792, 0.46097955, 0.13745223, -0.1175..."
2,15,POLITICS,edward snowden one trump love vladimir putin,count robert mueller nail nsa whistleblower warns,edward snowden one trump love vladimir putinco...,"[[-0.33193335, 0.6428256, 0.40255037, 0.313192..."
3,16,POLITICS,booyah obama photographer hilariously troll tr...,peeping minute,booyah obama photographer hilariously troll tr...,"[[-0.08145213, 0.55399007, 0.2992495, -0.15863..."
4,17,POLITICS,ireland vote repeal abortion amendment landsli...,irish woman longer travel united kingdom end p...,ireland vote repeal abortion amendment landsli...,"[[0.4640411, 0.18794204, 0.25105196, -0.239942..."

In [72]:
X = np.concatenate(news["vectorized"].values)

## KMeans

In [57]:
from sklearn.cluster import KMeans
from collections import Counter
from sklearn.metrics import silhouette_score

import warnings
warnings.filterwarnings("ignore")

In [74]:
model = KMeans(n_clusters=5, max_iter=500)
model.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=500,
       n_clusters=5, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [75]:
preds = model.predict(X)

In [76]:
Counter(preds)

Counter({4: 3165, 3: 3073, 1: 3174, 2: 2568, 0: 520})

In [27]:
model.labels_

array([2, 2, 2, ..., 0, 0, 2], dtype=int32)

In [77]:
print(Counter(preds[:n])) # POLITIC
print(Counter(preds[n:n*2])) # WEDDING
print(Counter(preds[n*2:n*3])) # QUEER VOICES
print(Counter(preds[n*3:n*4])) # CRIME
print(Counter(preds[n*4:n*5])) # STYLE & BEAUTY

Counter({4: 2135, 2: 189, 3: 104, 1: 72})
Counter({3: 1412, 1: 759, 0: 238, 2: 51, 4: 40})
Counter({3: 801, 4: 709, 1: 682, 2: 308})
Counter({2: 2006, 4: 241, 3: 177, 1: 76})
Counter({1: 1585, 3: 579, 0: 282, 4: 40, 2: 14})

## PCA+KMeans

In [78]:
from sklearn.decomposition import PCA

In [104]:
pca = PCA(3)
features = pca.fit_transform(X)

In [105]:
model = KMeans(n_clusters=5)
model.fit(features)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=5, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [106]:
preds = model.predict(features)

In [107]:
Counter(preds)

Counter({0: 2876, 1: 2494, 2: 2290, 4: 2223, 3: 2617})

In [108]:
print(Counter(preds[:n])) # POLITIC
print(Counter(preds[n:n*2])) # WEDDING
print(Counter(preds[n*2:n*3])) # QUEER VOICES
print(Counter(preds[n*3:n*4])) # CRIME
print(Counter(preds[n*4:n*5])) # STYLE & BEAUTY

Counter({0: 2036, 1: 212, 4: 163, 3: 85, 2: 4})
Counter({3: 1195, 2: 845, 1: 414, 0: 24, 4: 22})
Counter({1: 940, 3: 657, 0: 576, 4: 223, 2: 104})
Counter({4: 1812, 1: 356, 0: 220, 3: 112})
Counter({2: 1337, 1: 572, 3: 568, 0: 20, 4: 3})

## SVD + KMeans

In [36]:
from sklearn.decomposition import TruncatedSVD

In [42]:
svd = TruncatedSVD(n_components=3)
features = svd.fit_transform(X)

In [43]:
model = KMeans(n_clusters=3)
model.fit(features)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [44]:
preds = model.predict(features)

In [45]:
Counter(preds)

Counter({1: 3482, 0: 2959, 2: 2559})

In [46]:
print(Counter(preds[:3000])) # POLITIC
print(Counter(preds[3000:6000])) # WEDDING
print(Counter(preds[6000:])) # QUEER VOICES

Counter({1: 2634, 0: 323, 2: 43})
Counter({2: 1974, 0: 981, 1: 45})
Counter({0: 1655, 1: 803, 2: 542})